BACKEND_HOST=127.0.0.1
BACKEND_PORT=8787
DEVICE_WS_PATH=/ws/device

DOUBAO_WS_URL=wss://openspeech.bytedance.com/api/v3/realtime/dialogue
DOUBAO_APP_ID=
DOUBAO_ACCESS_KEY=
DOUBAO_SECRET_KEY=
DOUBAO_RESOURCE_ID=volc.speech.dialog
DOUBAO_APP_KEY=PlgvMymc7f3tQnJ6
DOUBAO_MODEL=1.2.1.0
DOUBAO_SPEAKER=zh_female_vv_jupiter_bigtts
